html,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* #body main section {
	min-width: 100%;
	max-width: 1600px;
} */
.content {
	width: 960px;
}
nav {
	color: red;
}
#body section,
#body header,
#body footer {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
#hero-section {
	color: blue;
	background-image: url(/Pictures/bgk-header.png);
	/* Height noch anpassen */
	height: 670px;
}
#our_story-section {
	color: green;
}
#watch-section {
	color: darkred;
	background-image: url(/Pictures/bgk-middle.png);
	/* Height noch anpassen */
	height: 550px;
}
#expertise-section {
	color: fuchsia;
}
#team-section  {
	color: yellowgreen;
}
#contact_client-section {
	color: lightsalmon;
}
footer {
	color: blueviolet;
	background-image: url(/Pictures/bgk-footer.png);
	/* Height noch anpassen */
	height: 397px;
}
