html,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
.content {
	width: 960px;
}
nav {
	color: red;
}
#body section, #body footer {
		padding: 4vw 0;
}
#body section,
#body header,
#body footer {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100vw;
	margin: 0;
}
#hero-section {
	color: blue;
	background-image: url(/Pictures/bgk-header.png);
	min-height: 41.9vw;
}
#our_story-section {
	color: green;
}
#watch-section {
	color: darkred;
	background-image: url(/Pictures/bgk-middle.png);
	min-height: 34.4vw;
}
#expertise-section {
	color: fuchsia;
}
#team-section {
	color: yellowgreen;
	background-image: url(/Pictures/bgk-team.png);
	min-height: 44.5vw;
}
#contact_client-section {
	color: lightsalmon;
}
footer {
	color: blueviolet;
	background-image: url(/Pictures/bgk-footer.png);
	min-height: 24.8vw;
}
